.search-container {
  background: center / cover no-repeat url('../assets/lake-background.jpg');
  margin-top: 50px;
  border-radius: 20px;
  width: 700px;
  height: 590px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-top: 10px;
  margin-left: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  width: 250px;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.8);
}
.current-location {
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
  background: rgb(88, 88, 88);
  border-radius: 5px;
  width: 150px;
}
.current-location-text {
  font-weight: 400;
  font-size: 12px;
  color: rgb(161, 161, 161);
}
.current-location-city {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.main-wrapper {
  margin-top: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title {
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
}
.search-input-block {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.input-search {
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.search-button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
}
