.weather-card-container {
  background: #fff;
  margin-top: 50px;
  border-radius: 20px;
  width: 700px;
  height: 590px;
}
.navigation {
  margin-top: 20px;
  text-align: end;
}
ul.nav-list li {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  margin-right: 30px;
}

.search-weather {
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 10px;
}
.search-button {
  border: 3px solid #000;
  border-radius: 10px;
  margin-bottom: -60px;
}

/*============today card section*/
.today__section-container {
  margin-top: 30px;
  width: 100%;
  height: 500px;
}
.today-card-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 90%;
  height: 50%;
}

.title-today-card {
  font-weight: 700;
  font-size: 40px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.today-card-main {
  margin-top: 10px;
}

.temperature__celcius {
  font-weight: 700;
  font-size: 40px;
}
.condition-title {
  font-weight: 300;
  font-size: 35px;
}
.condition-icon {
  width: 80px;
}

.date-title {
  font-size: 22px;
}
.today-card-secondary {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  color: rgb(109, 109, 109);
  margin-top: 15px;
  text-align: justify;
}
